<p class="lead">
Welcome to our Guestbook
<%= link_to "Dodaj swój wpis.", new_post_path %>
</p>

<% @posts.reverse.each do |post| %>
    <blockquote>
    <p><%= post.body %></p>
    <footer> <%= post.author %> </footer>
    </blockquote>
<% end %>
